<h1>Listing meetings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Met at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.created_at %></td>
        <td><%= link_to 'Never Happened', meeting, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
