<h1>Listing meetings (<%= @meetings.count %>)</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Met at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.created_at %></td>
      <td>
        <%= form_for meeting, :method => :delete do |f| %>
          <%= f.submit :value => 'Never Happened', :class => 'btn btn-danger', :confirm => 'Are you sure?' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
