<h1>Listing meetings ({{meetings.length}})</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Met at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="meeting in meetings">
      <td>{{ meeting.created_at }}</td>
      <td>
        <form ng-submit="deleteMeeting(meeting)">
          <input type="hidden" value="{{meeting.id}}" />
          <input type="submit" value="Never Happened" class="btn btn-danger" />
        </form>
      </td>
    </tr>
  </tbody>
</table>
